@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Audiowide', cursive;
}

p{
    font-family: 'Space Mono', monospace;
    letter-spacing: -10%;
}

body{
    background: url(./img/bg.jpg) center center/cover no-repeat;
    height: 100vh;
    color: #fff;
}

#card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    perspective: 1200px;
    
}

.container{
    background: linear-gradient(45deg, rgba(255,255,255,.3), rgba(255,255,255,.1));
    border: rgba(255,255,255,.2) solid 2px;
    padding: 10rem 15rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: transform .3s ease;
}

